body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 0;
  color: #293c4b;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #3dccd6;
}

pre {
  padding: 20px;
  font-size: 18px;
  background-color: #f6f8fa;
}

img {
  margin: 20px 0;
  max-width: 200px;
}
